@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,regular,600&display=swap");

html {
    font-size: 10px;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-color: $color-bg;
    color: $color-text;
}
